// for my uls
.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.center {
	margin: 0 auto;
	text-align: center;
}


* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

div{
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 36px;
	font-style: italic;
	font-variant: normal;
	font-weight: 700;
	color:#ffffff;
}
p,h3{
	color:#ffffff;
}
p{
	font-size:18px;
}

h2{
	font-family:'Roboto Condensed', sans-serif;
	font-weight:600;
}
h3{
	font-family:'Roboto Condensed', sans-serif;
	font-weight:700;
	font-size:36px;
}


.col-1-4{
	width:19.704433%;
	float:left;
}



.right{
	margin-right:0;
}
.left{
	float:left;
	margin-left:0;
}

.absolute-left{
	position:absolute;
	left:0;
}

.absolute-right{
	position:absolute;
	right:0;
}

.absolute-middle{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.timer-bar-1{
	-webkit-animation: loading 5s infinite; /* Safari 4+ */
	  -moz-animation:    loading 5s infinite; /* Fx 1+ */
	  -o-animation:      loading 5s infinite; /* Opera 12+ */
	  animation:         loading 5s infinite;
}
.timer-bar-2{
	-webkit-animation: loading-two 5s infinite; /* Safari 4+ */
	  -moz-animation:    loading-two 5s infinite; /* Fx 1+ */
	  -o-animation:      loading-two 5s infinite; /* Opera 11+ */
	  animation:         loading-two 5s infinite;
}
.timer-bar-3{
	-webkit-animation: loading-three 5s infinite; /* Safari 4+ */
	  -moz-animation:    loading-three 5s infinite; /* Fx 1+ */
	  -o-animation:      loading-three 5s infinite; /* Opera 12+ */
	  animation:         loading-three 5s infinite;
}
.timer-bar-4{
	-webkit-animation: loading-four 5s infinite; /* Safari 1+ */
	  -moz-animation:    loading-four 5s infinite; /* Fx 1+ */
	  -o-animation:      loading-four 5s infinite; /* Opera 12+ */
	  animation:         loading-four 5s infinite;
}
.timer-bar-5{
	-webkit-animation: loading-five 5s infinite; /* Safari 4+ */
	  -moz-animation:    loading-five 5s infinite; /* Fx 1+ */
	  -o-animation:      loading-five 5s infinite; /* Opera 12+ */
	  animation:         loading-five 5s infinite;
}

// ONE
@-webkit-keyframes loading{
  0%   {fill:black;}
  20% {fill:#29C09E;}
  100%{fill:black;}
}
@-moz-keyframes loading{
  0%   {fill:black;}
  20% {fill:#29C09E;}
  100%{fill:black;}
}
@-o-keyframes loading{
  0%   {fill:black;}
  20% {fill:#29C09E;}
  100%{fill:black;}
}
@keyframes loading{
  0%   {fill:black;}
  20% {fill:#29C09E;}
  100%{fill:black;}
}
// TWO
@-webkit-keyframes loading-two{
  0%   {fill:black;}
  40% {fill:#29C09E;}
  100%{fill:black}
}
@-moz-keyframes loading-two{
  0%   {fill:black;}
  40% {fill:#29C09E;}
  100%{fill:black}
}
@-o-keyframes loading-two{
  0%   {fill:black;}
  40% {fill:#29C09E;}
  100%{fill:black}
}
@keyframes loading-two{
  0%   {fill:black;}
  40% {fill:#29C09E;}
  100%{fill:black}
}
// THREE
@-webkit-keyframes loading-three{
  0%   {fill:black;}
  60% {fill:#29C09E;}
  100%{fill:black;}
}
@-moz-keyframes loading-three{
  0%   {fill:black;}
  60% {fill:#29C09E;}
  100%{fill:black;}
}
@-o-keyframes loading-three{
  0%   {fill:black;}
  60% {fill:#29C09E;}
  100%{fill:black;}
}
@keyframes loading-three{
  0%   {fill:black;}
  60% {fill:#29C09E;}
  100%{fill:black;}
}
// FOUR
@-webkit-keyframes loading-four{
  0%   {fill:black;}
  80% {fill:#29C09E;}
  100%{fill: black;}
}
@-moz-keyframes loading-four{
  0%   {fill:black;}
  80% {fill:#29C09E;}
  100%{fill: black;}
}
@-o-keyframes loading-four{
  0%   {fill:black;}
  80% {fill:#29C09E;}
  100%{fill: black;}
}
@keyframes loading-four{
  0%   {fill:black;}
  80% {fill:#29C09E;}
  100%{fill: black;}
}
// FIVE
@-webkit-keyframes loading-five{
  0%   {fill:black;}
  95% {fill:#29C09E;}
  100% {fill:black;}
}
@-moz-keyframes loading-five{
  0%   {fill:black;}
  95% {fill:#29C09E;}
  100% {fill:black;}
}
@-o-keyframes loading-five{
  0%   {fill:black;}
  95% {fill:#29C09E;}
  100% {fill:black;}
}
@keyframes loading-five{
  0%   {fill:black;}
  95% {fill:#29C09E;}
  100% {fill:black;}
}


// ---------------------------WORD ANI--------------------

.j{
	-webkit-animation: jump 5s infinite; /* Safari 4+ */
	  -moz-animation:    jump 5s infinite; /* Fx 1+ */
	  -o-animation:      jump 5s infinite; /* Opera 12+ */
	  animation:         jump 5s infinite;
}
.u{
	-webkit-animation: jump-two 8s infinite; /* Safari 4+ */
	  -moz-animation:    jump-two 8s infinite; /* Fx 1+ */
	  -o-animation:      jump-two 8s infinite; /* Opera 11+ */
	  animation:         jump-two 8s infinite;
}
.m{
	-webkit-animation: jump-three 7s infinite; /* Safari 4+ */
	  -moz-animation:    jump-three 7s infinite; /* Fx 1+ */
	  -o-animation:      jump-three 7s infinite; /* Opera 12+ */
	  animation:         jump-three 7s infinite;
}
.p{
	-webkit-animation: jump-four 6s infinite; /* Safari 1+ */
	  -moz-animation:    jump-four 6s infinite; /* Fx 1+ */
	  -o-animation:      jump-four 6s infinite; /* Opera 12+ */
	  animation:         jump-four 6s infinite;
}

// ONE
@-webkit-keyframes jump{
  0%  {margin:0 auto;}
  20% {margin:40px auto;}
  100%{margin:0 auto;}
}
@-moz-keyframes jump{
  0%  {margin:0 auto;}
  20% {margin:40px auto;}
  100%{margin:0 auto;}
}
@-o-keyframes jump{
   0%  {margin:0 auto;}
   20% {margin:40px auto;}
   100%{margin:0 auto;}
}
@keyframes jump{
  0%  {margin:0 auto;}
  20% {margin:40px auto;}
  100%{margin:0 auto;}
}
// TWO
@-webkit-keyframes jump-two{
  0%  {margin:0 auto;}
  40% {margin:-80px auto;}
  100%{margin:0 auto;}
}
@-moz-keyframes jump-two{
 0%  {margin:0 auto;}
 40% {margin:-80px auto;}
 100%{margin:0 auto;}
}
@-o-keyframes jump-two{
  0%  {margin:0 auto;}
  40% {margin:-80px auto;}
  100%{margin:0 auto;}
}
@keyframes jump-two{
  0%  {margin:0 auto;}
  40% {margin:-80px auto;}
  100%{margin:0 auto;}
}
// THREE
@-webkit-keyframes jump-three{
   0%  {margin:0 auto;}
   60% {margin:40px auto;}
   100%{margin:0 auto;}
}
@-moz-keyframes jump-three{
  0%  {margin:0 auto;}
  60% {margin:40px auto;}
  100%{margin:0 auto;}
}
@-o-keyframes jump-three{
  0%  {margin:0 auto;}
  60% {margin:40px auto;}
  100%{margin:0 auto;}
}
@keyframes jump-three{
  0%  {margin:0 auto;}
  60% {margin:40px auto;}
  100%{margin:0 auto;}
}
// FOUR
@-webkit-keyframes jump-four{
  0%  {margin:0 auto;}
  75% {margin:-30px auto;}
  100%{margin:0 auto;}
}
@-moz-keyframes jump-four{
  0%  {margin:0 auto;}
  75% {margin:-30px auto;}
  100%{margin:0 auto;}
}
@-o-keyframes jump-four{
  0%  {margin:0 auto;}
  75% {margin:-30px auto;}
  100%{margin:0 auto;}
}
@keyframes jump-four{
  0%  {margin:0 auto;}
  75% {margin:-30px auto;}
  100%{margin:0 auto;}
}
